/*-=Small screens=-*/
@media only screen and (max-width: 640px) {
  /* TOP BAR Mobile STYLING */
  .top-bar {
    height: auto;
    background: #1a608b;
    /* change background color if you need */
  }

  .top-bar-section ul li > a {
    font-family: "Open Sans", sans-serif;
    color: white;
    /* change color of text if you need */
    font-size: 13px;
    background: #1a608b;
    /* change background color if you need */
  }
  .top-bar-section ul li:hover > a {
    background: #165176 !important;
    /* change background color if you need */
  }
  .top-bar-section ul li.current-menu-item > a:not(.button), .top-bar-section ul li.current-page-ancestor > a:not(.button) {
    background: #1e6fa0 !important;
    /* change background color of current menu item if you need */
  }
  .top-bar-section .menu {
    display: none;
  }
  .top-bar-section .dropdown {
    clip: auto;
    height: auto;
    display: none;
    width: 100%;
    position: static !important;
  }
  .top-bar-section .dropdown > li a {
    padding-left: 30px;
  }
  .top-bar-section .has-dropdown > a:after {
    display: none;
  }
  .top-bar-section ul li.has-dropdown a.dropdown-toggle {
    display: block;
    position: absolute;
    width: 50px;
    height: 44px;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 100;
    text-align: center;
  }
  .top-bar-section ul li.has-dropdown a.dropdown-toggle i.fa {
    font-size: 13px;
    line-height: 1;
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .top-bar.expanded .opnd > .dropdown-toggle i.fa {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .top-bar.expanded .title-area {
    background: #124260;
  }
  .top-bar.expanded .toggle-topbar a {
    color: #fff;
  }
  .top-bar.expanded .toggle-topbar a span {
    box-shadow: none !important;
  }
  .top-bar.expanded .toggle-topbar a span:after {
    box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
  }
}
/* max-width 640px and lower. Use this for mobiles only */
/*-=Medium screens=-*/
@media only screen and (min-width: 641px) {
  /* TOP BAR STYLING */
  .top-bar {
    background: transparent;
  }

  .top-bar-section {
    /* Dropdown Styling*/
  }
  .top-bar-section ul {
    background: transparent;
  }
  .top-bar-section ul li {
    background: transparent;
  }
  .top-bar-section li:not(.has-form) > a:not(.button),
  .top-bar-section li.has-dropdown > a:not(.button) {
    /* Regular menu item style */
    color: #1a608b;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    padding: 0 15px;
  }
  .top-bar-section li:not(.has-form) > a:not(.button):hover,
  .top-bar-section li.has-dropdown > a:not(.button):hover {
    color: #e59f74;
    background: #1a608b;
  }
  .top-bar-section li:not(.has-form) > a:not(.button):after,
  .top-bar-section li.has-dropdown > a:not(.button):after {
    display: none;
  }
  .top-bar-section li.current-menu-item > a:not(.button),
  .top-bar-section li.current_page_ancestor > a:not(.button) {
    /* Style of Current page and Ancestor page */
    color: #e59f74;
    background: #1a608b;
  }
  .top-bar-section ul li:hover:not(.has-form) > a {
    /* Parent link style on dropdown hover */
    background: #e59f74;
    color: #1a608b;
  }
  .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    /* Regular link in dropdown */
    color: #1a608b;
    background: #e59f74;
  }
  .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    /* Dropdown link on hover */
    color: white;
    background: #227eb6;
  }
  .top-bar-section .has-dropdown > .dropdown li .dropdrown_menu li a {
    /* Dropdown in dropdown */
    background: blue;
  }
  .top-bar-section .has-dropdown > .dropdown li .dropdrown_menu li:hover a {
    color: white;
    text-decoration: underline;
    background: red;
  }

  /* Align Menu to the right
      .top-bar-section { float:right; } */
  /* Align Menu to the center
      .top-bar-section { float:none; text-align: center; }
      .top-bar-section ul{display: inline-block;} */
  .has-dropdown .dropdown-toggle {
    display: none;
  }
}
/* min-width 641px */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
}
/*-=Large screens=-*/
@media only screen and (min-width: 1025px) {
  /* min-width 1025px, large screens */
}

/*# sourceMappingURL=media-screens.css.map */
